
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #postForm="ngForm" *ngIf = "!isLoading" (submit)="onAddPost(postForm)">
  <mat-card-title
   color="primary">
    My New Post
  </mat-card-title>
  <mat-form-field>
    <input
    matInput
    type="text"
    name="title"
   [ngModel]="post?.title"
   required
   placeholder="Post Title"
   minlength="3" >
   <mat-error>Please Enter appropriate Title</mat-error>
  </mat-form-field>
<mat-form-field>
    <textarea
    matInput
    name="content"
    rows="6"
   [ngModel]="post?.content"
   placeholder="Post Content"
   required ></textarea>
   <mat-error>Please Enter appropriate content</mat-error>
  </mat-form-field>
  <button
  type = "submit"
  color="accent"
  mat-raised-button>
   Save Post </button>
</form>
</mat-card>
<hr>


